<div class="container-fluid">

	<div class="row background-white">
		<div class="col-sm-8 col-sm-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>
		<div class="col-sm-6 col-sm-push-3 col-xs-10 col-xs-push-1 question_container">

			<div class="form_group">
			<%= form_tag jsquestion9_path(@test), :method=> 'get' do %>
				<h5>9. JavaScript is also known as ECMAScript. True or false?</h5>
				<br />
				<div class="col-xs-12 vert_question">
					<%= radio_button_tag :answer, true, false %>
					<label for="answer">&nbsp; &nbsp; True</label>
				</div>
				<div class="col-xs-12 vert_question">
					<%= radio_button_tag :answer, false, false %>
					<label for="answer">&nbsp; &nbsp; False</label>
				</div>
				<% if !flash[:success] && !flash[:danger] %>
					<div class="col-xs-12 vert_question">
						<%= submit_tag "Submit", class: "btn btn-primary top_spacing_tf" %>
					</div>
				<% end %>
			<% end %>
			</div>

			<% if flash[:success] || flash[:danger] %>
				<div class="col-xs-12 vert_question">
					<%= link_to "Next Question", jsquestion10_path(@test), class: "btn btn-success pull-right top_spacing_tf" %> 
				</div>
			<% end %> 
		</div>

	</div>

</div>