<div class="container-fluid">

	<div class="row background-white">
		<div class="col-sm-8 col-sm-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>
		<div class="col-sm-6 col-sm-push-3 question_container">

			<div class="form_group">
			<%= form_tag jsquestion2_path(@test), :method=> 'get' do %>
				<h5>2. Write a line of javascript that selects a div with an id of "target"</h5>
				<div class="form-group">
					<%= text_area_tag :answer, params[:answer], class: 'form-control' %>
				</div>
				<% if !flash[:success] && !flash[:danger] %>
					<div class="form-group">
						<%= submit_tag "Submit", class: "btn btn-primary" %>
					</div>
				<% end %>
			<% end %>
			</div>

			<% if flash[:success] || flash[:danger] %>
				<%= link_to "Continue", jsquestion3_path(@test), class: "btn btn-success pull-right" %> 
			<% end %> 
		</div>

	</div>

</div>