<div class="container-fluid">

	<div class="row background-white">
		<div class="col-sm-8 col-sm-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>
		<div class="col-sm-6 col-sm-push-3 col-xs-10 col-xs-push-1 question_container">

			<div class="form_group">
				<%= form_tag jsquestion2_path(@test), :method=> 'get' do %>
					<h5>2. How would you write a line of javascript that selects a div with an id of "target"</h5>
					<br />
					<div class="form-group">
						<%= radio_button_tag :answer, 'option1' %>
						<label for="answer">&nbsp;script.getElementById(#target);</label>
					</div>
					<div class="form-group">
						<%= radio_button_tag :answer, 'option2' %>
						<label for="answer">&nbsp;document.getElementById('#target');</label>
					</div>
					<div class="form-group">
						<%= radio_button_tag :answer, 'option3' %>
						<label for="answer">&nbsp;document.getElementById('target');</label>
					</div>

					<% if !flash[:success] && !flash[:danger] %>
						<div class="form-group">
							<%= submit_tag "Submit", class: "btn btn-primary top_spacing_button" %>
						</div>
					<% end %>
				<% end %>
			</div>

			<% if flash[:success] || flash[:danger] %>
				<%= link_to "Next Question", jsquestion3_path(@test), class: "btn btn-success pull-right top_spacing_button" %> 
			<% end %> 
		</div>

	</div>

</div>