<div class="container-fluid">

	<div class="row background-white">
		<div class="col-sm-8 col-sm-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>

		<div class="col-sm-6 col-sm-push-3 col-xs-10 col-xs-push-1 question_container">
			<div class="form_group">
				<%= form_tag jsquestion1_path(@test), :method=> 'get' do %>
					<h5>1. Which tag would you use to embed JavaScript into your HTML?</h5>
					<br />
					<div class="col-xs-12 vert_question">
						<%= radio_button_tag :answer, 'option1' %>
						<label for="answer_option1">
							&nbsp;&nbsp;&lt;java type="text/javascript"&gt;
						</label>	
					</div>
					<div class="col-xs-12 vert_question">
						<%= radio_button_tag :answer, 'option2' %>
						<label for="answer_option2">
							&nbsp;&nbsp;&lt;script type="text/javascript"&gt;
						</label>
					</div>
					<div class="col-xs-12 vert_question">
						<%= radio_button_tag :answer, 'option3' %>
						<label for="answer_option3">
							&nbsp;&nbsp;&lt;javascript type="text/script"&gt;
						</label>	
					</div>
					<% if !flash[:success] && !flash[:danger] %>
						<div class="form-group">
							<%= submit_tag "Submit", class: "btn btn-primary top_spacing_button" %>
						</div>
					<% end %>
				<% end %>
			</div>

			<% if flash[:success] || flash[:danger] %>
				<%= link_to "Next Question", jsquestion2_path(@test), class:"btn btn-success pull-right top_spacing_button" %>
			<% end %> 
		</div>
	</div>
</div>