<div class="container-fluid">

	<div class="row background-white">

		<div class="col-sm-8 col-sm-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>
		<div class="col-sm-6 col-sm-push-3  question_container">

			<div class="form_group">
			<%= form_tag jsquestion10_path(@test), :method=> 'get' do %>
				<h5>10. How do you access the value of a property named 'age' on an object named 'person' in JavaScript?</h5>
				<br />
				<div class="col-xs-4">
					<h5>
						person.age
					</h5>
					<label for="answer"></label>
					<%= radio_button_tag :answer, 'option1' %>
				</div>
				<div class="col-xs-4">
					<h5>
						person['age']
					</h5>
					<label for="answer"></label>
					<%= radio_button_tag :answer, 'option2' %>
				</div>
				<div class="col-xs-4">
					<h5>
						Both answers are valid
					</h5> 
					<label for="answer"></label>
					<%= radio_button_tag :answer, 'option3' %>
				</div>
				<% if !flash[:success] && !flash[:danger] %>
				<div class="form-group">
					<%= submit_tag "Submit", class: "btn btn-primary top_spacing_button" %>
				</div>
				<% end %>
			<% end %>
			</div>

			<% if flash[:success] || flash[:danger] %>
				<%= link_to "Finish", jsresults_path(@test), class: "btn btn-success pull-right top_spacing_button" %> 
			<% end %> 
		</div>

	</div>

</div>