<div class="container-fluid">

	<div class="row background-white">

		<div class="col-md-8 col-md-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>
		<div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 question_container">

			<div class="form_group">
				<%= form_for question10_path(@test), method: :get do %> 
					<h3>10. Who first developed HTML?</h3>
					</br>
					<div class="form-group">
						<%= radio_button_tag :answer, 'option1' %>
						<label for="answer">Brendan Eich</label>
					</div>
					<div class="form-group">
						<%= radio_button_tag :answer, 'option2' %>
						<label for="answer">Yukihiro Matsumoto</label>
					</div>
					<div class="form-group">
						<%= radio_button_tag :answer, 'option3' %>
						<label for="answer">Tim Berners-Lee</label>
					</div>
					<% if !flash[:success] && !flash[:danger] %>
						<div class="form-group">
							<%= submit_tag "Submit", class: "btn btn-primary top_spacing_tf" %>
						</div>
					<% end %> 
				<% end %> 
			</div>

			<% if flash[:success] || flash[:danger] %> 
				<%= link_to "Finish", results_path(@test), class: 'btn btn-success pull-right top_spacing_tf' %> 
			<% end %> 

		</div>
	</div>
</div>

