<div class="container-fluid">

	<div class="row background-white">
		<div class="col-md-8 col-md-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>
		<div class="col-sm-6 col-sm-push-3 col-xs-10 col-xs-push-1 question_container">

			<div class="form_group">
			<%= form_tag question2_path(@test), :method=> 'get' do %>
				<h5>2. CSS helps you control the appearance of HTML elements. True or false?</h5>
				<div class="form-group">
					<br />
					<%= radio_button_tag :answer, true %>
					<label for="answer2">&nbsp; &nbsp; True</label>
				</div>
				<div class="form-group">
					<%= radio_button_tag :answer, false %>
					<label for="answer2">&nbsp; &nbsp; False</label>
				</div> 
				<% if !flash[:success] && !flash[:danger] %>
					<div class="form-group">
						<%= submit_tag "Submit", class: "btn btn-primary top_spacing_tf" %>
					</div>
				<% end %>
			<% end %>
			</div>

			<% if flash[:success] || flash[:danger] %>
				<%= link_to "Next Question", question3_path, class: "btn btn-success pull-right top_spacing_tf" %> 
			<% end %> 
		</div>

	</div>

</div>