<div class="container-fluid">

	<div class="row background-white">

		<div class="col-md-8 col-md-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>
		<div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 question_container">

			<div class="form_group">
				<%= form_for question8_path(@test), method: :get do %> 
					<h3>8. Which tag would you use to link an HTML document to an external stylesheet?</h3>
					</br>
					<div class="col-xs-4">
						<h5>
							&lt;link rel="stylesheet" type="text/css" href="theme.css"&gt;
						</h5>
						<label for="answer"></label>
						<%= radio_button_tag :answer, 'option1' %>
					</div>
					<div class="col-xs-4">
						<h5>
							&lt;style rel="stylesheet" type="text/css" href="theme.css"&gt;
						</h5>
						<label for="answer"></label>
						<%= radio_button_tag :answer, 'option2' %>
					</div>
					<div class="col-xs-4">
						<h5>
							&lt;a rel="stylesheet" type="text/css" href="theme.css"&gt;
						</h5>
						<label for="answer"></label>
						<%= radio_button_tag :answer, 'option3' %>
					</div>
					<% if !flash[:success] && !flash[:danger] %>
						<div class="form-group">
							<%= submit_tag "Submit", class: "btn btn-primary top_spacing_button" %>
						</div>
					<% end %> 
				<% end %> 
			</div>

			<% if flash[:success] || flash[:danger] %> 
				<%= link_to "Next Question", question9_path(@test), class: 'btn btn-success pull-right top_spacing_button' %> 
			<% end %> 

		</div>
	</div>
</div>