<div class="container-fluid">

	<div class="row background-white">
		<div class="col-md-8 col-md-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>

		<div class="col-sm-6 col-sm-push-3 col-xs-10 col-xs-push-1 question_container">
			<div class="form_group">
			<%= form_tag question1_path(@test), method: :get do %>
				<h5>1. How do you write an opening paragraph tag in HTML?</h5>
				<div class="form-group">
					<%= text_area_tag :answer, params[:answer], class: 'form-control'%>
				</div>
				<% if !flash[:success] && !flash[:danger] %>
				<div class="form-group">
					<%= submit_tag "Submit", class: "btn btn-primary" %>
				</div>
				<% end %>
			<% end %>
			</div>

			<% if flash[:success] || flash[:danger] %>
				<%= link_to "Next Question", question2_path(@test), class:"btn btn-success pull-right" %>
			<% end %> 
		</div>
	</div>
</div>