<div class="container-fluid">

	<div class="row background-white">
		<div class="col-md-8 col-md-push-2 score_container">
			<h5 class="text-center">Current Score: <%= @test.score %></h5>
		</div>
		<div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 question_container">

			<div class="form_group">
			<%= form_tag question2_path(@test), :method=> 'get' do %>
				<h5>2. CSS helps you control the appearance of HTML elements</h5>
				<div class="form-group">
					<br />
					<%= check_box_tag :answer2, true, false, id: 'true_checkbox' %>
					<label for="answer2">True</label>
				</div>
				<div class="form-group">
					<%= check_box_tag :answer2, false, false, id: 'false_checkbox' %>
					<label for="answer2">False</label>
				</div> 
				<% if !flash[:success] && !flash[:danger] %>
					<div class="form-group">
						<%= submit_tag "Submit", class: "btn btn-primary" %>
					</div>
				<% end %>
			<% end %>
			</div>

			<% if flash[:success] || flash[:danger] %>
				<%= link_to "Continue", question3_path, class: "btn btn-success pull-right" %> 
			<% end %> 
		</div>

	</div>

</div>