<div class="container-fluid">

	<div class="row">

		<div class="col-md-8 col-md-push-2">
			<h4>Current Score: <%= @test.score %></h4>
			<br /><br />
		

			<div class="form_group">
			<%= form_tag question3_path(@test), :method=> 'get' do %>
				<h5>Write the closing tag for a div element</h5>
				<div class="form-group">
					<%= text_field_tag :answer, params[:answer], class: 'form-control' %>
				</div>
				<% if !flash[:success] && !flash[:danger] %>
				<div class="form-group">
					<%= submit_tag "Submit", class: "btn btn-primary" %>
				</div>
				<% end %>
			<% end %>
			</div>

			<% if flash[:success] || flash[:danger] %>
				<%= link_to "Finish", root_path, class: "btn btn-success pull-right" %> 
			<% end %> 
		</div>

	</div>

</div>