		<nav class="navbar navbar-default">
		 	<div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					    <span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					</button>
				</div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
				      	<li class="nav_item nav_link"><%= link_to "Home", root_path, style: 'color: white !important' %></li>
				      	<% if user_signed_in? %>
				      		<li class="nav_item nav_link"><%= link_to "Logout", destroy_user_session_path, method: :delete, style: 'color: white !important' %></li>
				      	<% else %>
							<li class="nav_item nav_link"><%= link_to "Login", new_user_session_path, style: 'color: white !important' %></li>
				      	<% end %>
				      	<li class="nav_item nav_link"><%= link_to "HTML", tests_path, style: 'color: white !important' %></li>
				      	<li class="nav_item nav_link"><%= link_to "CSS", root_path, style: 'color: white !important' %></li>
				      	<!-- <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style='color: white !important' >Tests <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li class="nav_item nav_link"><%= link_to "HTML", tests_path, style: 'color: white !important' %></li>
				      		<li class="nav_item nav_link"><%= link_to "CSS", root_path, style: 'color: white !important' %></li>
				      		<li class="nav_item nav_link"><%= link_to "JavaScript", root_path, style: 'color: white !important' %></li>
				          </ul>
				        </li> -->
				    </ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container-fluid">
			<div class="row spacer"></div>
		</div>