<!DOCTYPE html>
<html>
  <head>
    <title>StudentTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  </head>

  <body>
  		<%= render 'layouts/nav' %>
  		<% flash.each do |key, message| %> 
	  		<div class="container-fluid">
				<div class="row background-white">
					<div class="col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
					
						<div id="myAlert" class="alert alert-<%= key %> text-center">
							<a href="#current-pane" class="close" data-target="myAlert" data-dismiss="alert" aria-label="close" id="hide">&times;</a>
								<p><%= message %></p>
						</div>
					</div>
				</div>
			</div>
		<% end %> 
    <%= yield %>
    	<div class="container-fluid">
			<div class="row footer">
				<div class="col-md-8 col-md-push-2">
					<h5><a href="/">Home</a>&nbsp;&nbsp; | &nbsp;&nbsp; <a href="/tests">HTML</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="/csstests">CSS</a>&nbsp;&nbsp; | &nbsp;&nbsp; <a href="/jstests">JavaScript</a></h5>
				</div>
			</div>
		</div> 
  </body>
</html>
